# Where the homeserver's Client-Server API is located. Typically this
# is where clients would be connecting to in order to send messages.
MATRIX_SERVER_URL=https://matrix.parity.io

# An access token for the bot to use. Learn how to get an access token
# at https://t2bot.io/docs/access_tokens
# Note: some commands may sends dozens of requests very fast,
# while matrix limits amount of requests - if you need to test large amount
# ask devops to remove the limit for your bot-user (or reduce amount of requests)
ACCESS_TOKEN=fake

# Location on disk for where to store various bot information.
DATA_PATH=storage

LOG_LEVEL=INFO

ADMIN_ROOM_ID=adminRoomId

# @todo - check which values can go in here
USER_AUTH_PROVIDER=userAuthProvider


INVITE_ROOMS_LIST='[
    {
        "groupName":"substrate",
        "default":true,
        "list":[
            {"id":"!HzySYSaIhtyWrwiwEV:matrix.org","name":"Substrate Technical (Public)"}
        ]
    },
    {
        "groupName":"polkadot",
        "default":true,
        "list":[
            {"id":"!FdCojkeGzZLSEoiecf:web3.foundation","name":"Polkadot Watercooler"}
        ]
    },
    {
        "groupName":"parity",
        "default":false,
        "list":[
            {"id":"!AtgPynFxLJGFYkAZEl:matrix.parity.io","name":"Parity Support (Public)"},
            {"id":"!IWlcTyHSqIEjpUReHD:matrix.parity.io","name":"Parity Watercooler (Public)"}
        ]
    }
]'
